body {
  background-color: burlywood;
}
.title {
  color: aquamarine;
  text-align: center;
}
.btN {
  display: block;
  background-color: aqua;
  margin-bottom: 10px;
}
.btnDelete {
  display: block;
  background-color: rgb(200, 56, 20);
  margin-bottom: 10px;
}
.togle {
  display: block;
  background-color: rgb(77, 31, 157);
  color: beige;
  margin-bottom: 10px;
}
.wraper {
  width: auto;
  height: auto;
}
.title2 {
  color: rgb(22, 139, 139);
}
.title3 {
  color: rgb(28, 181, 61);
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 1rem;
  text-align: center;
}
