body {
  background-color: burlywood;
}
.title {
  color: aquamarine;
  text-align: center;
}
.btN {
  display: block;
  background-color: rgb(44, 244, 151);
  margin-bottom: 10px;
}
.btnDelete {
  display: block;
  background-color: rgb(200, 56, 20);
  margin-bottom: 10px;
}
.togle {
  display: block;
  background-color: rgb(77, 31, 157);
  color: beige;
  margin-bottom: 10px;
}
.wraper {
  width: auto;
  height: auto;
}
.title2 {
  color: rgb(22, 139, 139);
}
.title3 {
  color: rgb(28, 181, 61);
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 1rem;
  text-align: center;
}

.subForm {
  /* background-color: blue; */
  color: aquamarine;
}

.subForm ::placeholder {
  color: rgb(244, 34, 34);
  background-color: rgb(231, 243, 198);
}

.formInput {
  color: blueviolet;
  background-color: rgb(8, 234, 95);
}
.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
